<%= render :partial => 'ajax_odorik' %>
$('#right_header_menu').html('<%= escape_javascript(render :partial => '/layouts/right_header_menu')%>');
$('#success').html("<p>Identita úspěšně ověřena</p>").show();
$('#success p').delay(5000).fadeOut(900);
