<% if @cs_error %>
      <fieldset id="cpassword"><legend>Ověření heslem</legend>
        <div class="error"><%= @cs_error %></div>
        <div class="fdiv">
          <%= f.label :customer_password, 'Heslo' %>
          <%= f.password_field :password %>
        </div>
    <% else %>
      <fieldset id="cpassword" class="dis"><legend>Ověření heslem</legend>
        <div class="fdiv"></div>
    <% end %>
      <p><strong style="color:darkgreen">
        K ověření Vaší totožnosti je potřeba heslo. Heslo Vám bylo zasláno v
        e-mailu při Vašem prvním nákupu v tomto obchodě. Pokud své heslo
        neznáte, obnovte si jej 
        <a href="#" title="Obnovení hesla">na této stránce</a>
        .</strong></p>
    </fieldset>
