<% if @waiting.any? %>
<h1>Objednávky k vyřízení</h1>
<table class="listing">
  <%= render :partial => 'manage/orders/table_head' %>
  <tfoot>
    <tr><td colspan="4">
        <%= will_paginate @waiting,{:class => 'pagination'} %>
    </td></tr>
  </tfoot>
  <tbody id="orders">
    <%= render :partial => 'manage/orders/list_waiting' %>
  </tbody>
</table>
<% end %>
