<div class="mform">
<% form_tag "/manage/orders/invoice_address/#{@order.id}", :method => :post do %>
  <%= render :partial => '/cart/invoice_address_form' %>
  <%= submit_tag 'Ok' %>
<% end %>
</div>
