<h1>Stránky</h1>
<table class="listing">
  <thead><tr>
    <th>Nadpis</th><th>URI</th></tr>
  </thead>
  <tfoot>
    <tr><td colspan="2">
      <%= will_paginate @pages, {:param_name => :page, :class => 'pagination'} %>
    </td></tr>
  </tfoot>
  <tbody id="pages">
    <%= render :partial => 'manage/pages/list' %>
  </tbody>
</table>
