<h1>Kategorie</h1>
<table class="listing">
  <thead><tr>
    <th>Název</th><th>Popis</th></tr>
  </thead>
  <tfoot><tr><td colspan="2"><%= will_paginate @categories, 
    {:param_name => :cat_page, :class => 'pagination'} %></td></tr>
  </tfoot>
  <tbody id="categories">
    <%= render :partial => 'manage/catalog/category/list' %>
  </tbody>
</table>
