<h1><img src="/images/logo.png" alt="Chupa Chups" title="Chupa Chups"/></h1>
		<div id="page">
			<img src="/images/chuck.png" id="chuck"/>
			<img src="/images/motto.png" id="motto"/>
		</div>
		<p id="t1"><%=__('error_404')%></p>
