<p>Je spousta krásy na naší modré planetě a jednou z nejkrásnějších a nejúžasnějších je matka příroda. Krom všeho, co můžeme našimi smysly postřehnout, je něco ještě důležitějšího a tím je dar umět všechno cítit a vnímat. Mou velkou vášní je poznávat náš krásný svět s jeho různorodými zákoutími a samozřejmě také lidi, jejich zvyky, způsob života a v neposlední řadě i kreativitu, která se zrcadlí v jimi vytvářeném umění. Tato má vášeň mě vedla k rozhodnutí založit obchod <em>MATAHARI</em> a podělit se tak s ostatními o své vnímání krás darů přírody a plodů moře z exotických míst naší planety.</p>

<p>Máte zde možnost zakoupit ruční práci lidí z Indonéských ostrovů, především ostrova Bohů, Bali. Většina výrobků, které Vám představuji, jsou opravdovým výsledkem trpělivé ruční práce okořeněné velkou dávkou ojedinělé kreativity a jsou vyráběné z přírodních materiálů.</p>

<p>Snažím se Vám přiblížit atmosféru dalekých mořských plání a překrásných prosluněných pláží. Slovo <em>Matahari</em> v překladu z indonéštiny znamená <em>Slunce</em>. Síla slunečních paprsků nebo pozitivní síla tyrkysového moře k Vám přijdou společně s každým zakoupeným šperkem, který Vám navíc poodhalí příjemnou energii daleké Indonésie.</p>

<h2>Prosluněné šperky a výrobky v nabídce</h2>
<%= render :partial => '/product/list' %>
