<table id="product_list">
<% @products.each_with_index do |product, index| %>
  <%= tag('tr', :valign=>'top') if index % 3 == 0 %>
    <td>
      <%= product_linked_image product %>
      <%= product_linked_title product %>
      <%= into_cart_link(product) if product.amount != 0 %>
    </td>
<% end %>
</table>
