<% if @finished.any? %>
<h1>Vyřízené objednávky</h1>
<table class="listing">
  <%= render :partial => 'table_head' %>
  <tfoot><tr><td colspan="4"><%= will_paginate @finished, 
    {:param_name => :fin_page, :class => 'pagination'} %></td></tr>
  </tfoot>
  <tbody id="supplies">
    <%= render :partial => 'list_finished' %>
  </tbody>
</table>
<% end %>
