<% if @waiting.any? %>
<h1>Dosud nepřijaté objednávky</h1>
<table class="listing">
  <%= render :partial => 'manage/catalog/supply/table_head' %>
  <tfoot>
    <tr><td colspan="4">
      <%= will_paginate @waiting, { :class => 'pagination' } %>
    </td></tr>
  </tfoot>
  <tbody id="supplies">
    <%= render :partial => 'manage/catalog/supply/list_waiting' %>
  </tbody>
</table>
<% end %>
