<h1>Upravit fakturu</h1>
<div class="mform">
<% form_for @invoice, :url => manage_order_invoice_path(@order.id, @invoice.id), :method => :put do |f| %>
  <div id="errors"></div>
  <h2><%= @invoice.forma_in_words %></h2>
  <%= render :partial => 'fields', :locals => { :f => f }  %>
  <%= render :partial => 'items' %>
<%= f.submit 'Upravit' %>  
<% end %>
</div>
