// require_self
@import 'facebox'
@import 'formtastic'

$brau: #381f0f

$page_width: 980px
$side_width: 250px
$yellow: #ffc400
$lellow: #fff6e3
$braun: #392010
$border-color: #e9ded1

$h2color: #fff

$brad: 5px

@font-face
  font-family: 'samarn'
  src: url('samarn.ttf') format('truetype')

*
  padding: 0
  margin: 0

html
  font-family: Verdana, Tahoma, Arial, sans-serif
  margin: auto
body
  background: $brau
  padding-bottom: 2em
p
  margin: 5px 0
a
  text-decoration: none
  color: #392010
img
  border: 0
  vertical-align: middle
h1, h3, h4, h5, h6, ul, ol, dl, pre, blockquote, form, fieldset, address
  margin: 20px 0 0 0
h1
  font-size: 17px
  text-align: center
h2
  text-align: left
  background: image-url('headbg.png') repeat
  color: $h2color
  text-transform: uppercase
  font-size: 15px
  padding: 8px 16px
  margin-bottom: 5px
  a
    color: $h2color
    text-decoration: underline
h4
  margin: 0px
fieldset
  padding: 10px
li, dd, blockquote
  margin-left: 10px

.right
  float: right
.left
  float: left
.lpad
  padding-left: 15px
.rpad
  padding-right: 15px
.centr, .tac
  text-align: center !important
.tar
  text-align: right !important
.tal
  text-align: left !important
.out
  clear: both
.dis, .toc
  display: none
.fdiv
  padding: 1ex 0
.nodecor
  text-decoration: none
.nolist
  list-style: none
.col340width
  width: 340px
.col140width
  width: 140px
.col100width
  width: 100px
.col70width
  width: 70px
.col40width
  width: 40px

.inn
  width: $page_width
  margin: auto

.sun
  display: block
  padding: 6px 45px
  background: image-url('sun.png') 4px 0 no-repeat

.mobil
  display: block
  padding-left: 25px
  background: image-url('mobil.png') 0 19px no-repeat

.envelope
  display: block
  padding-left: 28px
  background: image-url('envelope.png') 0 23px no-repeat

.box
  background: $lellow
  border: 1px solid #e9ded1
  padding: 4px


header
  background: image-url('woodbg.png') repeat
  height: 164px
  z-index: 1
  margin-top: 5px
  position: relative
  > div
    display: inline-block
  menu
    z-index: 2
    padding: 0 1ex
    font-size: 85%
    position: relative
    li
      position: relative
      list-style: none
      font-weight: bold
      text-transform: uppercase
      padding: 1ex 0
      display: inline-block
      margin-left: 5px
      ul
        display: none
        width: 140px
        position: absolute
        left: -5px
        top: 6px
        border-radius: 2px
        li
          display: block
      &:hover
        ul
          display: block
  #logo
    background: image-url('logobg.png') no-repeat
    float: left
    font-size: 60px
    padding: 0px 30px 10px 110px
    width: 560px
    height: 135px
    margin-left: 11px
  #icart, #ilogin
    max-width: 300px
    height: 20px
    display: block
    padding: 8px 14px 5px 40px
    background: $yellow image-url('intocart.png') 11px 6px no-repeat
    color: $braun
    font-weight: bold
    box-shadow: 3px -3px 4px $braun
    text-align: center
    position: absolute
    bottom: 0
    left: 750px
  #ilogin
    left: 600px
    width: 84px
    background: $braun image-url('head.png') 11px 6px no-repeat
    color: $yellow
    &:hover
      background: $yellow image-url('head.png') 11px 6px no-repeat
      color: $braun


nav
  background: #725b4b
  height: 44px
  background: image-url('menubg.png') repeat
  menu
    padding: 2px 30px
    li
      list-style: none
      display: block
      padding: 10px 20px
      margin: 0
      float: left
      font-weight: bold
      border-left: 1px #8f7764 dashed
      a
        color: #fff6e3
        &:hover
          color: #ffc400

#awrap
  padding: 15px 0
  z-index: 20
  background: #feecc6 image-url('bodybg.png') repeat
  min-height: 600px

aside
  width: $side_width
  padding-right: 10px
  margin: 0
  float: left
  .abox, menu
    background: $lellow
    border: 1px solid #e9ded1
    padding: 4px
    p
      background: #fff
      margin-top: -4px
      padding: 5px
  menu
    li
      background: #fff
      list-style: none
      display: block
      padding: 0px
      margin: 0 0 1px
      border-left: 10px solid #957964
      text-transform: uppercase
      &.active, &:hover
        border-left: 10px solid $yellow
      &.active
        ul
          display: block
      a
        display: block
        padding: 8px 16px
        color: #392010
        &:hover
          font-weight: bold
      ul
        display: none
        margin: 0
        background: #fff6e3
        li, li:hover
          background: #fff6e3
          border: none
          list-style: circle
          a
            text-transform: capitalize
            padding-left: 32px
            background: image-url('circles.png') 15px 11px no-repeat
            &:hover
              background-position: 15px -29px


article
  float: left
  width: $page_width - $side_width - 15px
  position: relative
  padding: 0
  section
    display: block
  #content
    p
      text-align: justify
  #categories
    padding: 1em 0 7ex 0
    margin-top: 2em
    menu
      padding: 0 25px
      height: 50px
      float: left
      li
        list-style: none
  #indextext
    line-height: 17px
    font-size: 13px

footer
  z-index: 10
  color: #fff
  height: 164px
  text-align: left
  padding-left: 4em
  background: image-url('woodbg.png') repeat
  box-shadow: 0px 3px 11px #000 inset
  line-height: 20px
  font-size: 16px
  .fooinn
    width: 252px
    height: 164px
    padding: 0
    margin: 0
    background: image-url('fooinn.png') right top no-repeat

#copy
  padding: 12px 24px
  color: #fff6e3
  a
    color: #fff6e3

.intocart
  width: 142px
  display: block
  padding: 8px 15px 8px 30px
  background: $yellow image-url('intocart.png') 11px 6px no-repeat
  color: $braun
  font-size: 16px
  font-weight: bold
  border-radius: 2px
  text-align: center
  &:hover
    background: $braun image-url('intocart.png') 11px -34px no-repeat
    color: $yellow

table#product_list
  border-collapse: collapse
  background: $lellow
  td
    width: 190px
    height: 260px
    padding: 20px 25px
    margin: 0
    border: 1px solid $border-color
    position: relative
  .product-image
    display: block
    margin: 10px auto
    background: #fff
    padding: 3px
    border: 1px solid $border-color
    text-align: center
    box-shadow: 1px 2px 3px $border-color
  .product-title
    font-weight: bold
    color: $braun
    display: block
    height: 20px
    span
      margin-bottom: 3px
  .inlist-price
    position: absolute
    top: 50px
    right: 25px
  .intocart
    position: absolute
    bottom: 10px
  .price
    background: #392010
    color: #fff
    display: inline-block
    padding: 8px
    font-weight: bold


#product
  color: black
  background: $lellow image-url('ornament.png') 80px 12px no-repeat
  position: relative
  padding: 10px
  border: 1px solid $border-color
  #product_image
    width: 400px
    cursor: pointer
    background: #fff
    padding: 3px
    border: 1px solid $border-color
    box-shadow: 1px 2px 3px $border-color
  #product_about
    width: $page_width - $side_width - 460px
    padding: 5px 5px 50px
  #product_meta
    position: absolute
    bottom: 20px
    *
      display: inline
      float: left
      margin-left: 10px
    .price
      background: #392010
      color: #fff
      display: inline-block
      padding: 8px
      font-weight: bold

table#cart
  border-collapse: collapse
  background: $lellow
  width: 100%
  tr
    border: 5px solid $lellow
    &.even
      td, .price
        background: #d9cdc4
    &.odd
      td, .price
        background: #ede1d7
  td
    padding: 5px
    a
      color: $braun
      text-decoration: underline
      font-weight: bold
  th
    background: #fff
    padding: 5px
    text-align: left
  .product-name
    width: 440px
  .amount
    width: 60px
    &:hover
      cursor: text
  .amountInput
    border: none
    padding: 5px
    margin: 0
    width: 2em !important
    font-size: 14px
  .remove
    width: 36px

#cart_actions
  float: right
  a
    display: block
    padding: 9px
    background: $yellow
    color: $braun
    font-weight: bold
    border-radius: 2px
    text-align: center
    float: left
    margin: 5px
    &.submit
      background: $yellow image-url('sun.png') 8px 3px no-repeat
      padding-left: 42px


#contact_info
  width: 39%
#contact_question
  width: 55%

.cform
  input
    display: block
    width: 220px
  textarea
    display: block
    width: 320px
  input[type="submit"]
    width: 150px
    padding: 10px
    margin: auto

.oform .formtastic, #customer_new
  label
    font-size: 13px
    text-align: right
  label, input, select
    display: block
    padding: 3px
  input[type="text"], input[type="tel"], input[type="email"], input[type="password"]
    width: 200px !important
  input[type="checkbox"], input[type="radio"]
    width: 18px !important
    height: 18px
    display: inline
  fieldset.inputs
    border: 1px solid $border-color
    padding: 12px 9px
    background: $lellow
    margin-top: 5px
  legend
    font-weight: bold
    background: image-url('headbg.png') repeat
    color: $h2color
    font-size: 14px
    padding: 5px
  .error
    .inline-errors
      margin-top: 0
    label
      color: #cc0000
    input
      border: solid 1px #cc0000
  .radio
    width: auto
    label
      text-align: left
      margin-left: 125px
    .choices
      border: none
    .choices-group
      padding: 0
  .commit
    list-style-image: none

#customer_new
  .commit, #customer_remember_me_input
    float: left
    padding-left: 100px
/*
 *       CHYBY

#errorExplanation, #success
  padding: 0

#errorExplanation p, #success p, .error, .success, .notice
  border: 1px solid !important
  font-size: 16px
  margin: 10px 0px
  padding: 15px 10px 15px 50px
  background-repeat: no-repeat
  background-position: 10px center
  color: #D8000C
  background-color: #FFBABA
  background-image: image-url("admin/knob/error.png")

#errorExplanation ul
  list-style-type: none
  li
    color: red
    font-size: 14px

.field_with_errors
  width: 100%
  display: inline
  input
    border: red solid 1px !important

#success p, .success, .notice
  color: #43a71b
  background-color: #c7ffba
  background-image: image-url("admin/knob/valid.png")


.help
  font-weight: bold

.pagination
  padding: 10px
  margin-top: 8px
  text-align: center
  height: auto
  *
    line-height: 15px
    font-size: 14px
    color: #fff
    padding: 4px
  .disabled
    color: #ddd
  .current
    font-weight: bold
  a
    &:hover
      text-decoration: underline
  em
    text-decoration: none
