<h1>Zaměstnanci</h1>
<table class="listing">
  <thead><tr>
    <th>Login</th>
    <th>E-mail</th>
    <th>Telefon</th></tr>
  </thead>
  <tfoot><tr><td colspan="4"><%= will_paginate @employees, 
    {:param_name => :emp_page, :class => 'pagination'} %></td></tr>
  </tfoot>
  <tbody id="employees">
    <%= render :partial => 'manage/users/employee/list' %>
  </tbody>
</table>
