<% if current_user %>
  <a href="/customer">Můj účet</a>
   | <%= link_to 'Odhlásit', logout_path %> | 
<% end %>
  <a href="/cart">Nákupní košík</a>
 | <a href="http://www.odorik.cz">Zpět na Odorik.cz</a>
