<% if current_customer %>
  <a href="/customer">Můj účet</a>
   | <%= link_to 'Odhlásit', logout_path %> |
<% end %>
  <%= link_to 'Úvodní stránka', root_url %> |
  <a href="/cart">Nákupní košík</a> |
  <%= link_to 'Kontakt', contact_form_path %>
