<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
<title>Chyba</title>
<style type="text/css" media="screen"></style>
</head>
<body>
    <%= yield %>
</body>
</html>
